@charset "utf-8";
strong {
    color: #d32f2f;
}

h1 {
    font-size: 21px;
}

a,
a:visited {
    color: #67AA00;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    font-size: 1em;
}

a:hover {
    color: #508400;
    text-decoration: underline;
}

ul {
    padding-left: 25px;
}