<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.imaginativeworld.shadhinovidhan"
    android:versionCode="3"
    android:versionName="1.2.160131">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".appContextHelper"
        android:allowBackup="true"
        android:icon="@drawable/so_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name="org.imaginativeworld.shadhinovidhan.main_activity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="org.imaginativeworld.shadhinovidhan.add_new_entry"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/DialogTheme" />

        <activity
            android:name="org.imaginativeworld.shadhinovidhan.view_details_activity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/DialogTheme" />

        <activity
            android:name="org.imaginativeworld.shadhinovidhan.about_activity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/DialogTheme" />

        <activity
            android:name="org.imaginativeworld.shadhinovidhan.preference_activity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppOptionsTheme" />

        <activity
            android:name="org.imaginativeworld.shadhinovidhan.favorite_list_activity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/DialogTheme" />

        <activity
            android:name="org.imaginativeworld.shadhinovidhan.feedback_activity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/DialogTheme" />

        <activity
            android:name="org.imaginativeworld.shadhinovidhan.backup_activity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/DialogTheme" />

        <activity
            android:name="org.imaginativeworld.shadhinovidhan.restore_activity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/DialogTheme" />
        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>




















